
.h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 0.1em;
}

.h1 {
	font-size: 50px;
}
.h2 {
	font-size: 40px;
}
.h3 {
	font-size: 30px;
}
.h4 {
	font-size: 20px;
}
.h5 {
	font-size: 10px;
}
.h6 {
	font-size: 50px;
}
p {
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: 0.1em;
}

/* ==== NAV ==== */

.navbar-nav>li>a {
	color: #fff !important;
	margin-top: 25px;
	margin-bottom: 20px;
	letter-spacing: 1.5px;
}
.navbar-header {
	background-color: #222222;
}
.icon-bar {
	margin: 6px;
	text-align: center;
}
.navbar {
	font-family: 'Ubuntu', sans-serif;
	height: 100px;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	border: transparent;
	color: #222222;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	background-color: #222222;
}
.navbar-toggle {
	margin-top: 20px;
	margin-bottom: 20px;
}
.navbar-collapse {
	font-family: 'Ubuntu', sans-serif;
	background-color: #222222;
	border: #222222;
	color: #222222;
	text-align: center;
	padding-bottom: 40px;
	padding-bottom: 20px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	margin-right: 40px;
}
.navbar-brand {
	margin-top: 20px;
	margin-left: 20px;
}


/* unvisited link */

a:link {
	color: white;
}
/* visited link */

a:visited {
	color: #ffffff;
}
/* mouse over link */

a:hover {
	color: white;
}
/* selected link */

a:active {
	color: #dcdcdc;
}
/* ==== GENERAL ==== */

.shop {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 50px;
	padding-left: 50px;
	color: #fff;
	background-color: #ab2e58;
	border: transparent;
	border-radius: 5px;
}
.welcometext {
	padding: 20px 20px 20px 20px;
	text-decoration: bold;
	font-size: 16px;
	margin-right: 10%;
	margin-left: 10%;
}
.parralax {
	padding-top: 100px;
	padding-bottom: 100px;
	background: url('../img/22091725_121092951930060_911577567_n.jpg') no-repeat center center fixed;
	text-align: center;
	overflow: hidden;
	width: 100%;
	color: white;
}
.parralaxtext {
	font-size: 70px;
	padding: 0px;
}


/* ==== INTRO ==== */

.section1 {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.maintitle {
	text-align: center;
	padding: 20px;
	margin-left: 10%;
	margin-right: 10%;
}
.logoimage {
	display: block;
	margin: auto;
	display: inline-block;
}
.circles {
	background-color: #222222;
	padding-bottom: 100px;
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
	position: relative;
	text-align: center;
	color: 222222;
	display: block;
	z-index: 3;
	margin-top: -2px;
}
.highlights {
	padding: 20px;
}
/* ==== SECTION1 ==== */

.introarticle {
	background-color: #f5f5f5;
	text-align: left;
}
.introheader {
	color: 222222;
	padding: 50px 20px 20px 20px;
	text-align: left;
	margin-top: 30px;
	font-size: 70px;
	margin-left: -20px;
}
.button3 {
	margin: 0px 0px 0px 0px;
	text-align: left;
	padding-bottom: 50px;
	padding-right: -70px;
	padding-top: 30px;
}
.button4 {
	text-align: center;
	margin-bottom: 30px;
	padding-right: 170px;
}
.button5 {
	margin-bottom: 100px;
}
.introtext {
	color: #222222;
	padding-bottom: 0px;
	padding: 20px;
	text-align: left;
}
.introimage {
	margin-top: -10px;
	border-style: solid;
	border-width: 10px 10px 10px 10px;
	border-color: white;
	margin-bottom: 130px;
	padding: 0px 0px 0px 0px;
	background-color: white;
}
/* ==== COLOURS ==== */

.colours {
	align-content: center;
	z-index: 10;
	position: relative;
	text-align: center;
	background-color: #f5f5f5;
	padding-bottom: 10%;
}
.coloursheader {
	font-size: 90px;
	margin-top: 130px;
	z-index: 5;
	position: relative;
	padding: 0px 0px 0px 10%;
}
.featured-image {
	margin-left: 20%;
	position: relative;
	margin-top: -50px;
	z-index: -1;
	padding: 80px 40px 80px 40px;
	background-color: white;
}
.colourcircles {
	margin-top: -50%;
	margin-left: 65%;
}
.circle1 {
	width: 150px;
	height: 150px;
	border-radius: 200px;
	background-color: #ac2e57;
	margin: 20px;
}
.circle2 {
	width: 150px;
	height: 150px;
	border-radius: 200px;
	background-color: #bda180;
	margin: 20px;
}
.circle3 {
	width: 150px;
	height: 150px;
	border-radius: 200px;
	background-color: #222222;
	margin: 20px;
}
.circle4 {
	width: 150px;
	height: 150px;
	border-radius: 200px;
	background-color: #5ab3ba;
	margin: 20px;
}
/* ==== SECTION 2 ==== */

.introarticle2 {
	background-color: #f5f5f5;
	padding-bottom: 30px;
}
.introheader2 {
	color: #222222;
	text-align: right;
	padding-top: 50px;
	padding: 20px;
}
.introtext2 {
	color: #222222;
	text-align: right;
	padding: 20px;
}
.button {
	text-align: center;
	margin: 20px;
}
.button2 {
	text-align: right;
	margin: 20px;
}
.introimage2 {
	border-style: solid;
	border-width: 10px 10px 10px 10px;
	border-color: white;
	margin-bottom: 30px;
	margin-top: 50px;
}
/* ==== SECTION 3 ==== */

.bottom-photo-section {
	overflow: hidden;
}
.introimage1 {
	height: auto;
	position: relative;
}
.introimage2 {
	height: auto;
	position: relative;
}
.introimage3 {
	height: auto;
	position: relative;
}
.introimage4 {
	height: auto;
	position: relative;
}
/* ==== BLOG ==== */

.blog {
	margin-top: 50px;
	color: 222222;
}
.form-submit {
	padding: 20px;
}
.blogposts {
	color: 222222;
	margin-top: 100px;
	text-align: left;
	font-size: 60px;
	padding: 50px;
	margin-left: -31px;
	margin-bottom: -40px;
}
.blogtitle a {
	color: 222222;
	margin-top: 150px;
}
.blogpage a {
	color: #ac2e57;
}
.blogpagetitle {
	text-align: left;
	font-size: 60px;
	margin-top: 50px;
}
.blog a {
	color: #ac2e57;
}
.post {
	position: relative;
	border: solid 1px #fff;
	background: white;
	margin: 0 0 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 20px;
}
.post-excerpt {
	padding-top: 40px;
	padding-bottom: 40px;
}
.post-image {
	height: auto;
}
.post-details {
	font-size: 12px;
	padding: 10px;
	margin-left: -20px;
}
.post-details .fa {
	padding-left: 10px;
}
.subscribe {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 90px;
	padding-left: 90px;
	color: #fff;
	background-color: #ab2e58;
	border: transparent;
	border-radius: 5px;
}
.widget {
	padding: 10px;
	background: white;
}
.widgetarea {
	border: transparent;
	border-radius: 5px;
	padding: 20px;
	margin-top: 150px;
}
/* ==== ICONS ==== */

.icons {
	font-size: 80px;
	color: white;
	text-align: center;
}

/* ==== SECTION 3 ==== */

.section3 {
	background-color: #f8f8f8;
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;
	text-align: center;
	color: 222222;
}
.imageunder {
	opacity: 0.7;
	max-width: 600px;
}
.section3text {
	position: relative;
	top: 30%;
	left: 0%;
	transform: translate(-0%, -0%);
	text-align: center;
	color:
}
/* ==== LIST SECTION ==== */

.slashes {
	font-size: 70px;
}
.introlistimage {
	text-align: right;
	overflow: hidden;
	border-style: solid;
	border-width: 10px;
	border-color: white;
	margin-left: 50px;
	margin-bottom: 100px;
}
.introlist {
	background: -webkit-linear-gradient(bottom, #f5f5f5 50%, white 50%);
	background: -o-linear-gradient(bottom, #f5f5f5 50%, white 50%);
	background: -moz-linear-gradient(bottom, #f5f5f5 50%, white 50%);
	background: linear-gradient(to bottom, #f5f5f5 50%, white 50%);
	padding-bottom: 30px;
	text-align: right;
	padding-right: 30px;
	padding-bottom: 30px;
}
.introlistheader {
	padding: 30px 0px 20px 20px;
}
/* ==== CLOSING ==== */

.closingpara {
	text-align: center;
	padding: 100px 50px 100px 50px;
	background: url('../img/bg.png') center center fixed;
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0.80;
	-moz-opacity: 20%;
	-webkit-opacity: 20%;
	z-index: 2;
}
/* ==== ABOUT ==== */

.aboutus {
	text-align: center;
	background: url('../img/22118021_121093151930040_449328109_o.jpg') repeat center center fixed;
	padding: 150px 0px 150px 0px;
	overflow: hidden;
}
.aboutgallery {
	overflow: hidden;
}
.aboutusimg {
	margin-bottom: 0px;
}
.aboutustext {
	text-align: left;
	padding: 100px 80px 0px 80px;
}
.aboutshort {
	text-align: right;
	padding: 20px;
}
.aboutustitle {
	text-align: left;
	padding: 20px;
}
.aboutpage {
	padding: 0px 0% 0px 0%;
	overflow: hidden;
}
.vegan {
	font-size: 60px;
	text-align: right;
	padding: 20px;
}
.aboutustitletext {
	padding: 0px 20px 100px 20px;
}
.aboutgallery {
	padding: 0px 10% 10% 10%;
}
.rowimages {
	overflow: hidden;
	height: 375px;
	margin-bottom: -10px;
	width: 100%;
}
.row>[class*='col-'] {
	padding-right: 0;
	padding-left: 0;
	overflow: hidden;
	height: auto;
	margin-bottom: -3px;
}
/* ==== LOGO ROW ==== */

.logorow {
	padding-top: 225px;
	padding-bottom: 225px;
	background: url('../img/22091725_121092951930060_911577567_n.jpg') fixed;
	text-align: center;
	overflow: hidden;
	background-size: 100%;
	margin-top: 90px;
}
.logo {
	max-width: 100%;
	max-height: 100%;
}
.logoimage {
	margin-top: 100px;
	padding: 30px;
}
/* === CONTACT === */


.content {
	text-align: center;
	padding: 50px;
}
.contacttitle {
	padding: 50px 0px 0px 0px;
	text-align: center;
}
.contacttext {
	padding-top: 20px;
	text-align: center;
}
.main-contact-content {
	text-align: center;
	font-size: 15px;
	padding: 20px;
}
#contact-email {
	text-align: center;
	font-size: 15px;
}
#contact-name {
	text-align: center;
	font-size: 15px;
}
#contact-words {
	text-align: center;
	font-size: 15px;
}
.lead {
	text-align: center;
	font-size: 15px;
}
.contactimage {
	background-color: white;
	font-size: 100px;
	text-align: center;
	padding-top: 80px;
}
.submitcontact {
	text-align: center;
	margin-bottom: 100px;
}
.iframe {
	margin-bottom: -10px;
	overflow: hidden;
}
.socialcontact {
	text-align: center;
	margin-top: 0px;
	padding-bottom: 50px;
	padding-top: 20px;
}

/* ==== FOOTER ==== */

.signup-section {
	padding: 100px 0px 0px 0px;
	text-align: center;
	background-color: #222222;
	color: white;
}

.signup-text {
	padding: 50px 0px 20px 0px;
}

.submit-form {
	padding: 50px 20% 50px 20%;
}

#email-input {
	background-color: transparent;
	color: white;
	padding: 20px 50px 20px 50px;
	text-align: center;
	width:100%;
	margin-bottom: 20px;
	border-width: 3.5px;
	box-shadow: none;
	border-style: solid;
}

.signup-submit {
	background-color: white;
	color: #2A2A2A;
	border-color: white;
	padding: 20px 50px 20px 50px;
	text-align: center;
	width:100%;
	font-size: 18px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	text-decoration-color: none;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 300;
	opacity: 0.7;
  }
  ::-moz-placeholder { /* Firefox 19+ */
	text-decoration-color: none;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: 300;
	opacity: 0.7;
  }
  :-ms-input-placeholder { /* IE 10+ */
	text-decoration-color: none;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: 300;
	opacity: 0.7;
  }
  :-moz-placeholder { /* Firefox 18- */
	text-decoration-color: none;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: 300;
	opacity: 0.7;
  }

.footer-section {
	overflow: hidden;
	background-color: #222222;
	color: white;
	padding-top: 50px;
}

.footer-title {
	padding-bottom: 20px;
	font-size: 16px;
}

.footer-links {
	list-style: none;
	letter-spacing: 0.1em;
	font-family: 'Ubuntu', sans-serif;
	margin: 0px 0px 0px 5%;
	padding-top: 0px;
	font-size: 14px;
}

.footer-link {
	padding: 10px;
}

.footer-about-text {
	margin: 0px 5% 0px 0%;
}

.footer-legal-links {
	text-align: center;
	letter-spacing: 0.1em;
	font-family: 'Ubuntu', sans-serif;
	padding-top: 50px;
	font-size: 16px;
}

.footer-copyright {
	text-align: center;
	padding: 20px 0px 50px 0px;
}


/* ==== MEDIA ==== */

@media screen and (max-width: 568px) {
	.introimage {
		margin-top: -10px;
		border-style: solid;
		border-width: 10px 10px 10px 10px;
		border-color: white;
		margin-bottom: 30px;
	}
	.introheader {
		color: 222222;
		padding: 50px 20px 20px 20px;
		text-align: left;
		margin-top: 20px;
		font-size: 70px;
		margin-left: -20px;
	}
	.coloursheader {
		font-size: 50px;
		margin-top: 100px;
		z-index: 5;
		position: relative;
		padding: 0px 0px 0px 0px;
	}
	.parralaxtext {
		font-size: 30px;
		text-align: center;
	}
	.circle1 {
		width: 90px;
		height: 90px;
		border-radius: 200px;
		background-color: #ab2e58;
		margin: 20px;
	}
	.circle2 {
		width: 90px;
		height: 90px;
		border-radius: 200px;
		background-color: #bda180;
		margin: 20px;
	}
	.circle3 {
		width: 90px;
		height: 90px;
		border-radius: 200px;
		background-color: #222222;
		margin: 20px;
	}
	.circle4 {
		width: 90px;
		height: 90px;
		border-radius: 200px;
		background-color: #5ab3ba;
		margin: 20px;
	}
	.featured-image {
		margin-left: 0%;
		position: relative;
		margin-top: -50px;
		z-index: -10;
		padding: 30px;
	}
}
@media screen and (max-width: 768px) {
	.textbox {
		padding-bottom: 100px;
	}
	.colourcircles {
		margin-top: -90%;
	}
	.introheader {
		color: 222222;
		padding: 50px 20px 20px 20px;
		text-align: left;
		margin-top: 20px;
		font-size: 70px;
		margin-left: -20px;
	}
	.introimage {
		margin-top: -10px;
		border-style: solid;
		border-width: 10px 10px 10px 10px;
		border-color: white;
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 991px) {
	.textbox {
		padding-bottom: 100px;
	}
	.introheader {
		color: 222222;
		padding: 50px 20px 20px 20px;
		text-align: left;
		margin-top: 30px;
		font-size: 70px;
		margin-left: -20px;
	}
	.button4 {
		text-align: left;
		padding-left: 40px;
	}
	.introimage {
		margin-top: -10px;
		border-style: solid;
		border-width: 10px 10px 10px 10px;
		border-color: white;
		margin-bottom: 30px;
	}
}